# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/

# ==========================================
# IDE
# ==========================================

.idea/
.vscode/

# ==========================================
# Runtime Files
# ==========================================

input/
output/

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Build
# ==========================================

dist/
build/
*.spec

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db